/*
Run this script on:

        192.168.100.23.SixtyThreeBitsOnboardingTest    -  This database will be modified

to synchronize it with:

        192.168.100.23.SixtyThreeBitsOnboarding

You are recommended to back up your database before running this script

Script created by SQL Compare version 13.7.7.10021 from Red Gate Software Ltd at 2026-05-25 10:21:52

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[Users]'
GO
CREATE TABLE [dbo].[Users]
(
[UserID] [int] NOT NULL IDENTITY(1, 1),
[RoleID] [int] NULL,
[UserEmail] [varchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
[UserPassword] [nvarchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
[UserFirstname] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[UserLastname] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[UserFullname] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[UserDateCreated] [datetime] NOT NULL CONSTRAINT [DF_Users_CRTime] DEFAULT (getdate())
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating primary key [PK_Users] on [dbo].[Users]'
GO
ALTER TABLE [dbo].[Users] ADD CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED  ([UserID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating index [IX_Users_Email_Uniq] on [dbo].[Users]'
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email_Uniq] ON [dbo].[Users] ([UserEmail])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating trigger [dbo].[UsersOnInsertUpdate] on [dbo].[Users]'
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[UsersOnInsertUpdate]
   ON  [dbo].[Users]
   AFTER INSERT,UPDATE
AS 
BEGIN
	
	UPDATE U SET
		U.UserEmail = LTRIM(RTRIM(U.UserEmail)),
		U.UserFirstname = LTRIM(RTRIM(U.UserFirstname)),
		U.UserLastname = LTRIM(RTRIM(U.UserLastname)),
		U.UserFullname = ISNULL(LTRIM(RTRIM(U.UserFirstname)) + ' ','') + ISNULL(LTRIM(RTRIM(U.UserLastname)),'')
	FROM Users U
	INNER JOIN INSERTED I ON U.UserID = I.UserID

END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[Dictionaries]'
GO
CREATE TABLE [dbo].[Dictionaries]
(
[DictionaryID] [int] NOT NULL IDENTITY(1, 1),
[DictionaryParentID] [int] NULL,
[DictionaryCaption] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[DictionaryCode] [int] NULL,
[DictionaryLevel] [int] NULL,
[DictionaryIntCode] [int] NULL,
[DictionaryStringCode] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[DictionaryDecimalValue] [money] NULL,
[DictionaryIsVisible] [bit] NOT NULL CONSTRAINT [DF_Dictionaries_IsVisible] DEFAULT ((1)),
[DictionaryIsDefault] [bit] NOT NULL CONSTRAINT [DF_Dictionaries_IsDefault] DEFAULT ((0)),
[DictionarySortIndex] [int] NULL,
[DictionaryDateCreated] [datetime] NOT NULL CONSTRAINT [DF_Dictionaries_DictionaryDateCreated] DEFAULT (getdate())
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating primary key [PK_Dictionaries] on [dbo].[Dictionaries]'
GO
ALTER TABLE [dbo].[Dictionaries] ADD CONSTRAINT [PK_Dictionaries] PRIMARY KEY CLUSTERED  ([DictionaryID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[DictionariesGetLevelByID]'
GO

-- =============================================
/*

SELECT dbo.DictionariesGetLevelByID(3036)

*/
-- =============================================
CREATE FUNCTION [dbo].[DictionariesGetLevelByID]
(
	@dictionaryID int
)
RETURNS int
AS
BEGIN
	DECLARE @dictionaryLevel int = 0

	;WITH ct1 as
	(
		SELECT 
			D.DictionaryID,
			D.DictionaryParentID
		FROM Dictionaries D
		WHERE D.DictionaryID = @dictionaryID
		UNION ALL
		SELECT 
			D.DictionaryID,
			D.DictionaryParentID
		FROM ct1 
		INNER JOIN Dictionaries D ON D.DictionaryID = ct1.DictionaryParentID 
	)	
	SELECT @dictionaryLevel = COUNT(ct1.DictionaryID)
	FROM ct1

	RETURN @dictionaryLevel - 1
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating trigger [dbo].[DictionariesTriggerInsertUpdate] on [dbo].[Dictionaries]'
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[DictionariesTriggerInsertUpdate]
   ON  [dbo].[Dictionaries]
   AFTER INSERT,UPDATE
AS 
BEGIN
	
	UPDATE D SET
		D.DictionaryLevel = dbo.DictionariesGetLevelByID(D.DictionaryID)
	FROM Dictionaries D
	INNER JOIN inserted I ON D.DictionaryID = I.DictionaryID

END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[Permissions]'
GO
CREATE TABLE [dbo].[Permissions]
(
[PermissionID] [int] NOT NULL IDENTITY(1, 1),
[PermissionParentID] [int] NULL,
[PermissionName] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[PermissionPagePath] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[PermissionGuid] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF_Permissions_PermissionCode] DEFAULT (CONVERT([varchar](40),newid(),(0))),
[PermissionIsMenuItem] [bit] NOT NULL CONSTRAINT [DF_Permissions_IsMenuItem] DEFAULT ((0)),
[PermissionMenuIcon] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[PermissionSortIndex] [int] NULL,
[PermissionMenuTitle] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[PermissionDateCreated] [datetime] NOT NULL CONSTRAINT [DF_Permissions_CRTime] DEFAULT (getdate())
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating primary key [PK_Permissions] on [dbo].[Permissions]'
GO
ALTER TABLE [dbo].[Permissions] ADD CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED  ([PermissionID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[RolesPermissions]'
GO
CREATE TABLE [dbo].[RolesPermissions]
(
[RoleID] [int] NOT NULL,
[PermissionID] [int] NOT NULL
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating primary key [PK_RolesPermissions] on [dbo].[RolesPermissions]'
GO
ALTER TABLE [dbo].[RolesPermissions] ADD CONSTRAINT [PK_RolesPermissions] PRIMARY KEY CLUSTERED  ([RoleID], [PermissionID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[Roles]'
GO
CREATE TABLE [dbo].[Roles]
(
[RoleID] [int] NOT NULL IDENTITY(1, 1),
[RoleName] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
[RoleCode] [int] NULL,
[RoleDateCreated] [datetime] NOT NULL CONSTRAINT [DF_Roles_CRTime] DEFAULT (getdate())
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating primary key [PK_Roles] on [dbo].[Roles]'
GO
ALTER TABLE [dbo].[Roles] ADD CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED  ([RoleID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[PermissionsListByRoleID]'
GO
-- =============================================
/*

SELECT * FROM RolePermissionsList(1)

*/
-- =============================================
CREATE FUNCTION [dbo].[PermissionsListByRoleID]
(	
	@RoleID int
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT 
		RP.PermissionID
	FROM RolesPermissions RP
	WHERE RP.RoleID = @RoleID
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[PermissionsList]'
GO

-- =============================================
/*

SELECT * FROM PermissionsList()

*/
-- =============================================
CREATE FUNCTION [dbo].[PermissionsList]
(	
	
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT
		P.PermissionID, 
		P.PermissionParentID,
		P.PermissionName,
		P.PermissionPagePath, 
		P.PermissionGuid, 
		P.PermissionIsMenuItem, 
		P.PermissionMenuIcon, 
		P.PermissionMenuTitle,
		P.PermissionSortIndex, 
		P.PermissionDateCreated
	FROM [Permissions] AS P
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UtilitiesProcessError]'
GO




CREATE PROCEDURE [dbo].[UtilitiesProcessError]
	@errorMessage nvarchar(max),
	@errorProcedure nvarchar(max),
	@errorSeverity int,
	@errorState int,
	@errorLine int
	
AS
BEGIN
	SET @errorMessage = 'SQL: '+ @errorMessage + char(10) + 
						'ErrorProcedure - ' + @errorProcedure + char(10) + 
						'ErrorLine - ' + CONVERT(varchar(100),@errorLine) + char(10) + 
						'Severity - ' + CONVERT(varchar(100),@errorSeverity) + char(10) + 
						'State - ' + CONVERT(varchar(100),@errorState) + char(10)
	RAISERROR(@errorMessage,16,1)
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[ConstantsNullValueForString]'
GO


-- =============================================

-- =============================================
CREATE FUNCTION [dbo].[ConstantsNullValueForString]
(
	
)
RETURNS varchar(1)
AS
BEGIN	
	RETURN ''
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[ConstantsNullValueForNumeric]'
GO


-- =============================================

-- =============================================
CREATE FUNCTION [dbo].[ConstantsNullValueForNumeric]
(
	
)
RETURNS int
AS
BEGIN	
	RETURN -1
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[PermissionsIUD]'
GO

-- =============================================
-- STORED PROCEDURE TO INSERT(0),UPDATE(1),DELETE(2),GET(3x)
-- THE TABLE Permissions
-- GENERATED ON :Apr  2 2024  1:01PM
-- =============================================
CREATE PROCEDURE [dbo].[PermissionsIUD]
(
	@databaseAction tinyint, -- INSERT(0),UPDATE(1),DELETE(2)
	@permissionID int OUTPUT,
	@permissionJson nvarchar(max)
)
AS
BEGIN
 
DECLARE
	@permissionParentID int,
	@permissionName nvarchar(100),
	@permissionPagePath nvarchar(100),
	@permissionGuid varchar(100),
	@permissionIsMenuItem bit,
	@permissionMenuIcon nvarchar(50),
	@permissionMenuTitle nvarchar(100),
	@permissionMenuTitleEng nvarchar(100),
	@permissionSortIndex int
 
BEGIN TRY
	DECLARE @retVal TABLE
	(
		PermissionID int
	);
 
	SELECT
		@permissionParentID = PermissionParentID,
		@permissionName = PermissionName,
		@permissionPagePath = PermissionPagePath,
		@permissionGuid = PermissionGuid,
		@permissionIsMenuItem = PermissionIsMenuItem,
		@permissionMenuIcon = PermissionMenuIcon,
		@permissionMenuTitle = PermissionMenuTitle,
		@permissionMenuTitleEng = PermissionMenuTitleEng,
		@permissionSortIndex = PermissionSortIndex
	FROM OPENJSON(@permissionJson)
	WITH
	(
		PermissionParentID int '$.PermissionParentID',
		PermissionName nvarchar(100) '$.PermissionName',
		PermissionPagePath nvarchar(100) '$.PermissionPagePath',
		PermissionGuid varchar(100) '$.PermissionGuid',
		PermissionIsMenuItem bit '$.PermissionIsMenuItem',
		PermissionMenuIcon nvarchar(50) '$.PermissionMenuIcon',
		PermissionMenuTitle nvarchar(100) '$.PermissionMenuTitle',
		PermissionMenuTitleEng nvarchar(100) '$.PermissionMenuTitleEng',
		PermissionSortIndex int '$.PermissionSortIndex'
	)
 
	IF @databaseAction = 0 -- INSERT
	BEGIN
		INSERT INTO Permissions		(			PermissionParentID,			PermissionName,			PermissionPagePath,			PermissionGuid,			PermissionIsMenuItem,			PermissionMenuIcon,			PermissionMenuTitle,			PermissionSortIndex		)
		OUTPUT INSERTED.PermissionID INTO @retVal
		VALUES		(			@permissionParentID,			@permissionName,			@permissionPagePath,			ISNULL(@permissionGuid, CAST(NEWID() as varchar(40))),			@permissionIsMenuItem,			@permissionMenuIcon,			@permissionMenuTitle,			@permissionSortIndex		)
		SELECT TOP(1) @permissionID = PermissionID FROM @retVal
	END
	ELSE IF @databaseAction = 1 -- UPDATE
	BEGIN
		UPDATE Permissions SET 
			PermissionParentID = IIF(@permissionParentID = dbo.ConstantsNullValueForNumeric(), NULL, ISNULL(@permissionParentID,PermissionParentID)),
			PermissionName = ISNULL(@permissionName,PermissionName),
			PermissionPagePath = IIF(@permissionPagePath = dbo.ConstantsNullValueForString(), NULL, ISNULL(@permissionPagePath,PermissionPagePath)),
			PermissionGuid = ISNULL(@permissionGuid,PermissionGuid),
			PermissionIsMenuItem = ISNULL(@permissionIsMenuItem,PermissionIsMenuItem),
			PermissionMenuIcon = IIF(@permissionPagePath = dbo.ConstantsNullValueForString(), NULL, ISNULL(@permissionMenuIcon,PermissionMenuIcon)),
			PermissionMenuTitle = IIF(@permissionMenuTitle = dbo.ConstantsNullValueForString(), NULL, ISNULL(@permissionMenuTitle,PermissionMenuTitle)),
			PermissionSortIndex = ISNULL(@permissionSortIndex,PermissionSortIndex)
		WHERE PermissionID = @permissionID
	END
	ELSE IF @databaseAction = 2 -- DELETE
	BEGIN
		DELETE P
		FROM Permissions AS P
		WHERE P.PermissionID = @permissionID
	END
END TRY
BEGIN CATCH
	DECLARE
		@ErrorMessage nvarchar(max) = ERROR_MESSAGE(),
		@ErrorProcedure nvarchar(max) = ERROR_PROCEDURE(),
		@ErrorSeverity int = ERROR_SEVERITY(),
		@ErrorState int = ERROR_STATE(),
		@ErrorLine int = ERROR_LINE()
	EXEC UtilitiesProcessError @ErrorMessage,@ErrorProcedure,@ErrorSeverity,@ErrorState,@ErrorLine
END CATCH
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UsersIUD]'
GO
-- =============================================
-- STORED PROCEDURE TO INSERT(0),UPDATE(1),DELETE(2),GET(3x)
-- THE TABLE Users
-- GENERATED ON :Apr  3 2024 11:07AM
-- =============================================
CREATE PROCEDURE [dbo].[UsersIUD]
(
	@databaseAction tinyint, -- INSERT(0),UPDATE(1),DELETE(2)
	@userID int OUTPUT,
	@userJson nvarchar(max)
)
AS
BEGIN
 
DECLARE
	@roleID int,
	@userEmail varchar(500),
	@userPassword nvarchar(500),
	@userFirstname nvarchar(50),
	@userLastname nvarchar(50)
 
BEGIN TRY
	DECLARE @retVal TABLE
	(
		UserID int
	);
 
	SELECT
		@roleID = RoleID,
		@userEmail = UserEmail,
		@userPassword = UserPassword,
		@userFirstname = UserFirstname,
		@userLastname = UserLastname
	FROM OPENJSON(@userJson)
	WITH
	(
		RoleID int '$.RoleID',
		UserEmail varchar(500) '$.UserEmail',
		UserPassword nvarchar(500) '$.UserPassword',
		UserFirstname nvarchar(50) '$.UserFirstname',
		UserLastname nvarchar(50) '$.UserLastname'
	)
 
	IF @databaseAction = 0 -- INSERT
	BEGIN
		INSERT INTO Users		(			RoleID,			UserEmail,			UserPassword,			UserFirstname,			UserLastname		)
		OUTPUT INSERTED.UserID INTO @retVal
		VALUES		(			IIF(@roleID = dbo.ConstantsNullValueForNumeric(), NULL, @roleID),			@userEmail,			ISNULL(@userPassword,NEWID()),			@userFirstname,			@userLastname		)
		SELECT TOP(1) @userID = UserID FROM @retVal
	END
	ELSE IF @databaseAction = 1 -- UPDATE
	BEGIN
		UPDATE Users SET 
			RoleID = IIF(@roleID = dbo.ConstantsNullValueForNumeric(), NULL, ISNULL(@roleID,RoleID)),
			UserEmail = ISNULL(@userEmail,UserEmail),
			UserPassword = ISNULL(@userPassword,UserPassword),
			UserFirstname = ISNULL(@userFirstname,UserFirstname),
			UserLastname = ISNULL(@userLastname,UserLastname)
		WHERE UserID = @userID
	END
	ELSE IF @databaseAction = 2 -- DELETE
	BEGIN
		DELETE U
		FROM Users AS U
		WHERE U.UserID = @userID
	END
END TRY
BEGIN CATCH
	DECLARE
		@ErrorMessage nvarchar(max) = ERROR_MESSAGE(),
		@ErrorProcedure nvarchar(max) = ERROR_PROCEDURE(),
		@ErrorSeverity int = ERROR_SEVERITY(),
		@ErrorState int = ERROR_STATE(),
		@ErrorLine int = ERROR_LINE()
	EXEC UtilitiesProcessError @ErrorMessage,@ErrorProcedure,@ErrorSeverity,@ErrorState,@ErrorLine
END CATCH
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[RolesIUD]'
GO
-- =============================================
-- STORED PROCEDURE TO INSERT(0),UPDATE(1),DELETE(2),GET(3x)
-- THE TABLE Roles
-- GENERATED ON :Apr  3 2024 11:08AM
-- =============================================
CREATE PROCEDURE [dbo].[RolesIUD]
(
	@databaseAction tinyint, -- INSERT(0),UPDATE(1),DELETE(2)
	@roleID int OUTPUT,
	@roleJson nvarchar(max)
)
AS
BEGIN
 
DECLARE
	@roleName nvarchar(100),
	@roleCode int
 
BEGIN TRY
	DECLARE @retVal TABLE
	(
		RoleID int
	);
 
	SELECT
		@roleName = RoleName,
		@roleCode = RoleCode
	FROM OPENJSON(@roleJson)
	WITH
	(
		RoleName nvarchar(100) '$.RoleName',
		RoleCode int '$.RoleCode'
	)
 
	IF @databaseAction = 0 -- INSERT
	BEGIN
		INSERT INTO Roles		(			RoleName,			RoleCode		)
		OUTPUT INSERTED.RoleID INTO @retVal
		VALUES		(			@roleName,			@roleCode		)
		SELECT TOP(1) @roleID = RoleID FROM @retVal
	END
	ELSE IF @databaseAction = 1 -- UPDATE
	BEGIN
		UPDATE Roles SET 
			RoleName = ISNULL(@roleName,RoleName),
			RoleCode = ISNULL(@roleCode,RoleCode)
		WHERE RoleID = @roleID
	END
	ELSE IF @databaseAction = 2 -- DELETE
	BEGIN
		DELETE R
		FROM Roles AS R
		WHERE R.RoleID = @roleID
	END
END TRY
BEGIN CATCH
	DECLARE
		@ErrorMessage nvarchar(max) = ERROR_MESSAGE(),
		@ErrorProcedure nvarchar(max) = ERROR_PROCEDURE(),
		@ErrorSeverity int = ERROR_SEVERITY(),
		@ErrorState int = ERROR_STATE(),
		@ErrorLine int = ERROR_LINE()
	EXEC UtilitiesProcessError @ErrorMessage,@ErrorProcedure,@ErrorSeverity,@ErrorState,@ErrorLine
END CATCH
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[DictionariesGetDictionaryIDByDictionaryCodeAndIntCode]'
GO





-- =============================================
/*

SELECT dbo.DictionariesGetDictionaryIDByDictionaryCodeAndIntCode(20,1)

*/
-- =============================================
CREATE FUNCTION [dbo].[DictionariesGetDictionaryIDByDictionaryCodeAndIntCode]
(
	@dictionaryCode int,
	@dictionaryIntCode int
)
RETURNS int
AS
BEGIN
	RETURN
	(
		SELECT DictionaryID
		FROM Dictionaries
		WHERE DictionaryCode = @dictionaryCode
		AND DictionaryIntCode = @dictionaryIntCode
	)

END



GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[DictionariesListByLevelAndCodeAndIsVisible]'
GO

-- =============================================
/*
SELECT * FROM DictionariesListByLevelAndCodeAndIsVisible(1,1,NULL)
*/
-- =============================================
CREATE FUNCTION [dbo].[DictionariesListByLevelAndCodeAndIsVisible]
(	
	@dictionaryLevel int,
	@dictionaryCode int,
	@dictionaryIsVisible bit
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT        
		D.DictionaryID, 
		D.DictionaryCaption, 
		D.DictionaryParentID, 
		D.DictionaryLevel, 
		D.DictionaryStringCode, 
		D.DictionaryIntCode, 
		D.DictionaryDecimalValue,
		D.DictionaryCode, 
		D.DictionaryIsDefault, 
        D.DictionaryIsVisible, 
		D.DictionarySortIndex, 
		D.DictionaryDateCreated
	FROM Dictionaries D
	WHERE (D.DictionaryLevel = @dictionaryLevel)
	AND (DictionaryCode = @dictionaryCode)
	AND 
	(
		@dictionaryIsVisible IS NULL 
		OR 
		D.DictionaryIsVisible = @dictionaryIsVisible
	)
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[SystemProperties]'
GO
CREATE TABLE [dbo].[SystemProperties]
(
[SystemPropertiesID] [int] NOT NULL,
[ProjectName] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[ContactEmail] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[ContactPhone] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[ContactAddress] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[FacebookUrl] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[InstagramUrl] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[TwitterUrl] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[YoutubeUrl] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[LinkedInUrl] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[GoogleMapsIFrame] [nvarchar] (2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[ScriptsHeader] [nvarchar] (max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[ScriptsBodyStart] [nvarchar] (max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[ScriptsBodyEnd] [nvarchar] (max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[IsEmailSmtpEnabled] [bit] NOT NULL CONSTRAINT [DF_SystemProperties_IsEmailSmtpEnabled_1] DEFAULT ((0)),
[SmtpAddress] [nvarchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[SmtpPort] [int] NULL,
[SmtpUsername] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[SmtpPassword] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[SmtpUseSsl] [bit] NOT NULL CONSTRAINT [DF_SystemProperties_SMTPUseSSL] DEFAULT ((0)),
[SmtpFrom] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[IsEmailMailgunEnabled] [bit] NOT NULL CONSTRAINT [DF_SystemProperties_IsEmailMailgunEnabled_1] DEFAULT ((0)),
[MailgunBaseUrl] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[MailgunApiKey] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[MailgunDomain] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[MailgunFrom] [nvarchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[MailgunWebhookWebhookSigningKey] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[IsEmailOffice365Enabled] [bit] NOT NULL CONSTRAINT [DF_SystemProperties_IsEmailOffice365Enabled_1] DEFAULT ((0)),
[MicrosoftGraphServiceTenant] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[MicrosoftGraphServiceClientID] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[MicrosoftGraphServiceClientSecret] [varchar] (60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[MicrosoftGraphServiceUserID] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[AwsAccessKeyID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[AwsSecretAccessKey] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[AwsS3RegionSystemName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[AwsS3BucketNamePublic] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[AzureConnectionString] [varchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[AzureBlobStorageContainerName] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[ReCaptchaSiteKey] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[ReCaptchaSecretKey] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating primary key [PK_SystemProperties] on [dbo].[SystemProperties]'
GO
ALTER TABLE [dbo].[SystemProperties] ADD CONSTRAINT [PK_SystemProperties] PRIMARY KEY CLUSTERED  ([SystemPropertiesID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[SystemPropertiesGet]'
GO
-- =============================================
/*

SELECT dbo.SystemPropertiesGet()

*/
-- =============================================
CREATE FUNCTION [dbo].[SystemPropertiesGet]
(
	
)
RETURNS nvarchar(max)
AS
BEGIN
	RETURN
	(
		SELECT
			SystemPropertiesID, 
			ProjectName, 
			ContactEmail, 
			ContactPhone, 
			ContactAddress, 
			FacebookUrl, 
			InstagramUrl, 
			TwitterUrl, 
			YoutubeUrl, 
			LinkedInUrl, 
			GoogleMapsIFrame, 
			IsEmailSmtpEnabled, 
			SmtpAddress, 
			SmtpPort, 
            SmtpUsername, 
			SmtpPassword, 
			SmtpUseSsl, 
			SmtpFrom, 
			ScriptsHeader, 
			ScriptsBodyStart, 
			ScriptsBodyEnd, 
			AwsAccessKeyID, 
			AwsSecretAccessKey, 
			AwsS3RegionSystemName, 
			AwsS3BucketNamePublic, 
            AzureConnectionString, 
			AzureBlobStorageContainerName, 
			IsEmailOffice365Enabled, 
			MicrosoftGraphServiceTenant, 
			MicrosoftGraphServiceClientID, 
			MicrosoftGraphServiceClientSecret, 
			MicrosoftGraphServiceUserID, 
            IsEmailMailgunEnabled, 
			MailgunBaseUrl, 
			MailgunApiKey, 
			MailgunDomain, 
			MailgunFrom, 
			MailgunWebhookWebhookSigningKey, 
			ReCaptchaSiteKey, 
			ReCaptchaSecretKey
		FROM SystemProperties
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
	)
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[DictionariesDeleteRecursive]'
GO


-- =============================================
-- STORED PROCEDURE TO INSERT(0),UPDATE(1),DELETE(2),GET(3x)
-- THE TABLE Permissions
-- GENERATED ON :Mar  6 2017  2:56PM
-- =============================================
CREATE PROCEDURE [dbo].[DictionariesDeleteRecursive]
(	
	@dictionaryID int
)
AS
BEGIN
 
BEGIN TRY
	;WITH ct1 as
	(
		SELECT D.DictionaryID, D.DictionaryParentID
		FROM Dictionaries D
		WHERE D.DictionaryID = @dictionaryID
		UNION ALL
		SELECT D.DictionaryID, D.DictionaryParentID 
		FROM ct1 
		INNER JOIN Dictionaries D ON ct1.DictionaryID = D.DictionaryParentID
	)
	DELETE D
	FROM Dictionaries D
	INNER JOIN ct1 ON D.DictionaryID = ct1.DictionaryID
END TRY
BEGIN CATCH
 
    DECLARE @errorMessage nvarchar(max) = ERROR_MESSAGE(),
    @errorProcedure nvarchar(max) = ERROR_PROCEDURE(),
    @errorSeverity int = ERROR_SEVERITY(),
    @errorState int = ERROR_STATE(),
    @errorLine int = ERROR_LINE()
    EXEC UtilitiesProcessError @errorMessage,@errorProcedure,@errorSeverity,@errorState,@errorLine
 
END CATCH
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[DictionariesIUD]'
GO

-- =============================================
-- STORED PROCEDURE TO INSERT(0),UPDATE(1),DELETE(2),GET(3x)
-- THE TABLE Dictionaries
-- GENERATED ON :Apr  2 2024 12:55PM
-- =============================================
CREATE PROCEDURE [dbo].[DictionariesIUD]
(
	@databaseAction tinyint, -- INSERT(0),UPDATE(1),DELETE(2)
	@dictionaryID int OUTPUT,
	@dictionarieJson nvarchar(max)
)
AS
BEGIN
 
DECLARE
	@dictionaryParentID int,
	@dictionaryCaption nvarchar(200),
	@dictionaryCode int,	
	@dictionaryIntCode int,
	@dictionaryStringCode nvarchar(100),
	@dictionaryDecimalValue money,
	@dictionaryIsVisible bit,
	@dictionaryIsDefault bit,
	@dictionarySortIndex int
 
BEGIN TRY
	DECLARE @retVal TABLE
	(
		DictionaryID int
	);
	 
	SELECT
		@dictionaryParentID = DictionaryParentID,
		@dictionaryCaption = DictionaryCaption,
		@dictionaryCode = DictionaryCode,
		@dictionaryIntCode = DictionaryIntCode,
		@dictionaryStringCode = DictionaryStringCode,
		@dictionaryDecimalValue = DictionaryDecimalValue,
		@dictionaryIsVisible = DictionaryIsVisible,
		@dictionaryIsDefault = DictionaryIsDefault,
		@dictionarySortIndex = DictionarySortIndex
	FROM OPENJSON(@dictionarieJson)
	WITH
	(
		DictionaryParentID int '$.DictionaryParentID',
		DictionaryCaption nvarchar(200) '$.DictionaryCaption',
		DictionaryCaptionEng nvarchar(200) '$.DictionaryCaptionEng',
		DictionaryCode int '$.DictionaryCode',
		DictionaryLevel int '$.DictionaryLevel',
		DictionaryIntCode int '$.DictionaryIntCode',
		DictionaryStringCode nvarchar(100) '$.DictionaryStringCode',
		DictionaryDecimalValue money '$.DictionaryDecimalValue',
		DictionaryIsVisible bit '$.DictionaryIsVisible',
		DictionaryIsDefault bit '$.DictionaryIsDefault',
		DictionarySortIndex int '$.DictionarySortIndex'
	)
 
	IF @databaseAction = 0 -- INSERT
	BEGIN
		INSERT INTO Dictionaries		(			DictionaryParentID,			DictionaryCaption,			DictionaryCode,			DictionaryIntCode,			DictionaryStringCode,			DictionaryDecimalValue,			DictionaryIsVisible,			DictionaryIsDefault,			DictionarySortIndex		)
		OUTPUT INSERTED.DictionaryID INTO @retVal
		VALUES		(			@dictionaryParentID,			@dictionaryCaption,			IIF(@dictionaryCode = dbo.ConstantsNullValueForNumeric(), NULL, @dictionaryCode),			IIF(@dictionaryIntCode = dbo.ConstantsNullValueForNumeric(), NULL, @dictionaryIntCode),			@dictionaryStringCode,			@dictionaryDecimalValue,			ISNULL(@dictionaryIsVisible,1),			ISNULL(@dictionaryIsDefault,0),			IIF(@dictionarySortIndex = dbo.ConstantsNullValueForNumeric(), NULL, @dictionarySortIndex)					)
		SELECT TOP(1) @dictionaryID = DictionaryID FROM @retVal
	END
	ELSE IF @databaseAction = 1 -- UPDATE
	BEGIN
		UPDATE Dictionaries SET 
			DictionaryParentID = IIF(@dictionaryParentID = dbo.ConstantsNullValueForNumeric(), NULL ,ISNULL(@dictionaryParentID,DictionaryParentID)),
			DictionaryCaption = ISNULL(@dictionaryCaption,DictionaryCaption),
			DictionaryCode = ISNULL(@dictionaryCode,DictionaryCode),			
			DictionaryIntCode = IIF(@dictionaryIntCode = dbo.ConstantsNullValueForNumeric(), NULL, ISNULL(@dictionaryIntCode,DictionaryIntCode)),
			DictionaryStringCode = IIF(@dictionaryStringCode = dbo.ConstantsNullValueForString(), NULL ,ISNULL(@dictionaryStringCode,DictionaryStringCode)),
			DictionaryDecimalValue = IIF(@dictionaryDecimalValue = dbo.ConstantsNullValueForNumeric(), NULL, ISNULL(@dictionaryDecimalValue,DictionaryDecimalValue)),
			DictionaryIsVisible = ISNULL(@dictionaryIsVisible,DictionaryIsVisible),
			DictionaryIsDefault = ISNULL(@dictionaryIsDefault,DictionaryIsDefault),
			DictionarySortIndex = IIF(@dictionarySortIndex = dbo.ConstantsNullValueForNumeric(), NULL, ISNULL(@dictionarySortIndex,DictionarySortIndex))
		WHERE DictionaryID = @dictionaryID
	END
	ELSE IF @databaseAction = 2 -- DELETE
	BEGIN
		DELETE D
		FROM Dictionaries AS D
		WHERE D.DictionaryID = @dictionaryID
	END
END TRY
BEGIN CATCH
	DECLARE
		@ErrorMessage nvarchar(max) = ERROR_MESSAGE(),
		@ErrorProcedure nvarchar(max) = ERROR_PROCEDURE(),
		@ErrorSeverity int = ERROR_SEVERITY(),
		@ErrorState int = ERROR_STATE(),
		@ErrorLine int = ERROR_LINE()
	EXEC UtilitiesProcessError @ErrorMessage,@ErrorProcedure,@ErrorSeverity,@ErrorState,@ErrorLine
END CATCH
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[RolesPermissionsUpdate]'
GO

-- =============================================

-- =============================================
CREATE PROCEDURE [dbo].[RolesPermissionsUpdate]
	@roleID int,
	@permissionIDsJson nvarchar(max)
AS
BEGIN

BEGIN TRANSACTION RPM
SAVE TRANSACTION RPM

BEGIN TRY	

	DELETE FROM RolesPermissions
	WHERE RoleID = @roleID

	;WITH ct1 as
	(
		SELECT 
			@roleID RoleID,
			PermissionID
		FROM OPENJSON(@permissionIDsJson)
		WITH 
		(
			PermissionID int '$'
		)
	)
	INSERT INTO RolesPermissions
	(
		RoleID,
		PermissionID
	)
	SELECT 
		RoleID,
		PermissionID
	FROM ct1

END TRY
BEGIN CATCH

	ROLLBACK TRANSACTION RPM
 
    DECLARE @errorMessage nvarchar(max) = ERROR_MESSAGE(),
    @errorProcedure nvarchar(max) = ERROR_PROCEDURE(),
    @errorSeverity int = ERROR_SEVERITY(),
    @errorState int = ERROR_STATE(),
    @errorLine int = ERROR_LINE()
    EXEC UtilitiesProcessError @errorMessage,@errorProcedure,@errorSeverity,@errorState,@errorLine
 
END CATCH

COMMIT TRANSACTION RPM

END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[SystemPropertiesUpdate]'
GO
-- =============================================
-- STORED PROCEDURE TO INSERT(0),UPDATE(1),DELETE(2),GET(3x)
-- THE TABLE SystemProperties
-- GENERATED ON :Dec 25 2020 11:40PM
-- =============================================
CREATE PROCEDURE [dbo].[SystemPropertiesUpdate]
(		
	@SystemPropertiesJson nvarchar(max)	
)
AS
BEGIN

DECLARE
	@projectName nvarchar(200),
	@contactEmail nvarchar(200),
	@contactPhone nvarchar(200),
	@contactAddress nvarchar(200),
	@facebookUrl nvarchar(200),
	@instagramUrl nvarchar(200),
	@twitterUrl	nvarchar(200),
	@youtubeUrl	nvarchar(200),
	@linkedInUrl nvarchar(200),
	@googleMapsIFrame nvarchar(2000),	
	@isEmailSmtpEnabled bit,
	@smtpAddress nvarchar(200),
	@smtpPort int,
	@smtpUsername nvarchar(100),
	@smtpPassword nvarchar(100),
	@smtpUseSsl bit,
	@smtpFrom nvarchar(100),
	@scriptsHeader nvarchar(max),
	@scriptsBodyStart nvarchar(max),
	@scriptsBodyEnd nvarchar(max),
	@awsAccessKeyID varchar(50),
	@awsSecretAccessKey varchar(50),
	@awsS3RegionSystemName varchar(50),
	@awsS3BucketNamePublic varchar(100),
	@AzureConnectionString varchar(500),
	@azureBlobStorageContainerName varchar(100),
	@isEmailOffice365Enabled bit,
	@microsoftGraphServiceTenant varchar(40),
	@microsoftGraphServiceClientID varchar(40),
	@microsoftGraphServiceClientSecret varchar(60),
	@microsoftGraphServiceUserID varchar(40),
	@isEmailMailgunEnabled bit,
	@mailgunBaseUrl varchar(100),
	@mailgunApiKey varchar(100),
	@mailgunDomain varchar(100),
	@mailgunFrom nvarchar(100),
	@mailgunWebhookWebhookSigningKey varchar(100),
	@reCaptchaSiteKey varchar(50),
	@reCaptchaSecretKey varchar(50)

	SELECT 
		@projectName = JSON_VALUE(@SystemPropertiesJson,'$.ProjectName'),
		@contactEmail = JSON_VALUE(@SystemPropertiesJson,'$.ContactEmail'),
		@contactPhone = JSON_VALUE(@SystemPropertiesJson,'$.ContactPhone'),
		@contactAddress = JSON_VALUE(@SystemPropertiesJson,'$.ContactAddress'),
		@facebookUrl = JSON_VALUE(@SystemPropertiesJson,'$.FacebookUrl'),
		@instagramUrl = JSON_VALUE(@SystemPropertiesJson,'$.InstagramUrl'),
		@twitterUrl = JSON_VALUE(@SystemPropertiesJson,'$.TwitterUrl'),
		@youtubeUrl = JSON_VALUE(@SystemPropertiesJson,'$.YoutubeUrl'),
		@linkedInUrl = JSON_VALUE(@SystemPropertiesJson,'$.LinkedInUrl'),
		@googleMapsIFrame = JSON_VALUE(@SystemPropertiesJson,'$.GoogleMapsIFrame'),
		@isEmailSmtpEnabled = JSON_VALUE(@SystemPropertiesJson,'$.IsEmailSmtpEnabled'),
		@smtpAddress = JSON_VALUE(@SystemPropertiesJson,'$.SmtpAddress'),
		@smtpPort = JSON_VALUE(@SystemPropertiesJson,'$.SmtpPort'),
		@smtpUsername = JSON_VALUE(@SystemPropertiesJson,'$.SmtpUsername'),
		@smtpPassword = JSON_VALUE(@SystemPropertiesJson,'$.SmtpPassword'),
		@smtpUseSsl = JSON_VALUE(@SystemPropertiesJson,'$.SmtpUseSsl'),
		@smtpFrom = JSON_VALUE(@SystemPropertiesJson,'$.SmtpFrom'),
		@scriptsHeader = JSON_VALUE(@SystemPropertiesJson,'$.ScriptsHeader'),
		@scriptsBodyStart = JSON_VALUE(@SystemPropertiesJson,'$.ScriptsBodyStart'),
		@scriptsBodyEnd = JSON_VALUE(@SystemPropertiesJson,'$.ScriptsBodyEnd'),
		@awsAccessKeyID = JSON_VALUE(@SystemPropertiesJson,'$.AwsAccessKeyID'),
		@awsS3RegionSystemName = JSON_VALUE(@SystemPropertiesJson,'$.AwsS3RegionSystemName'),
		@awsSecretAccessKey = JSON_VALUE(@SystemPropertiesJson,'$.AwsSecretAccessKey'),
		@awsS3BucketNamePublic = JSON_VALUE(@SystemPropertiesJson,'$.AwsS3BucketNamePublic'),
		@AzureConnectionString = JSON_VALUE(@SystemPropertiesJson,'$.AzureConnectionString'),
		@azureBlobStorageContainerName = JSON_VALUE(@SystemPropertiesJson,'$.AzureBlobStorageContainerName'),
		@isEmailOffice365Enabled = JSON_VALUE(@SystemPropertiesJson,'$.IsEmailOffice365Enabled'),
		@microsoftGraphServiceTenant = JSON_VALUE(@SystemPropertiesJson,'$.MicrosoftGraphServiceTenant'),
		@microsoftGraphServiceClientID = JSON_VALUE(@SystemPropertiesJson,'$.MicrosoftGraphServiceClientID'),
		@microsoftGraphServiceClientSecret = JSON_VALUE(@SystemPropertiesJson,'$.MicrosoftGraphServiceClientSecret'),
		@microsoftGraphServiceUserID = JSON_VALUE(@SystemPropertiesJson,'$.MicrosoftGraphServiceUserID'),
		@isEmailMailgunEnabled = JSON_VALUE(@SystemPropertiesJson,'$.IsEmailMailgunEnabled'),
		@mailgunBaseUrl = JSON_VALUE(@SystemPropertiesJson,'$.MailgunBaseUrl'),
		@mailgunApiKey = JSON_VALUE(@SystemPropertiesJson,'$.MailgunApiKey'),
		@mailgunDomain = JSON_VALUE(@SystemPropertiesJson,'$.MailgunDomain'),
		@mailgunFrom = JSON_VALUE(@SystemPropertiesJson,'$.MailgunFrom'),
		@mailgunWebhookWebhookSigningKey = JSON_VALUE(@SystemPropertiesJson,'$.MailgunWebhookWebhookSigningKey'),
		@reCaptchaSiteKey = JSON_VALUE(@SystemPropertiesJson, '$.ReCaptchaSiteKey'),
		@reCaptchaSecretKey = JSON_VALUE(@SystemPropertiesJson, '$.ReCaptchaSecretKey')

 
BEGIN TRY

		UPDATE SystemProperties SET 
		[ProjectName] = ISNULL(@projectName,[ProjectName]),
		[ContactEmail] = IIF(@contactEmail = dbo.ConstantsNullValueForString(), NULL, ISNULL(@contactEmail,[ContactEmail])),
		[ContactPhone] = IIF(@contactPhone = dbo.ConstantsNullValueForString(), NULL, ISNULL(@contactPhone,[ContactPhone])),
		[ContactAddress] = IIF(@contactAddress = dbo.ConstantsNullValueForString(), NULL, ISNULL(@contactAddress,[ContactAddress])),
		[FacebookUrl] = IIF(@facebookUrl = dbo.ConstantsNullValueForString(), NULL, ISNULL(@facebookUrl,[FacebookUrl])),
		[InstagramUrl] = IIF(@instagramUrl = dbo.ConstantsNullValueForString(), NULL, ISNULL(@instagramUrl,[InstagramUrl])),
		[TwitterUrl] = IIF(@twitterUrl = dbo.ConstantsNullValueForString(), NULL, ISNULL(@twitterUrl,[TwitterUrl])),
		[YoutubeUrl] = IIF(@youtubeUrl = dbo.ConstantsNullValueForString(), NULL, ISNULL(@youtubeUrl,[YoutubeUrl])),
		[LinkedInUrl] = IIF(@linkedInUrl = dbo.ConstantsNullValueForString(), NULL, ISNULL(@linkedInUrl,[LinkedInUrl])),
		[GoogleMapsIFrame] = IIF(@googleMapsIFrame = dbo.ConstantsNullValueForString(), NULL, ISNULL(@googleMapsIFrame,[GoogleMapsIFrame])),

		[IsEmailSmtpEnabled] = ISNULL(@isEmailSmtpEnabled,[IsEmailSmtpEnabled]),
		[SmtpAddress] = IIF(@smtpAddress = dbo.ConstantsNullValueForString(), NULL, ISNULL(@smtpAddress,[SmtpAddress])),
		[SmtpPort] = IIF(@smtpPort = dbo.ConstantsNullValueForInt(), NULL, ISNULL(@smtpPort,[SmtpPort])),
		[SmtpUsername] = IIF(@smtpUsername = dbo.ConstantsNullValueForString(), NULL, ISNULL(@smtpUsername,[SmtpUsername])),
		[SmtpPassword] = IIF(@smtpPassword = dbo.ConstantsNullValueForString(), NULL, ISNULL(@smtpPassword,[SmtpPassword])),
		[SmtpUseSsl] = ISNULL(@smtpUseSsl,[SmtpUseSsl]),
		[SmtpFrom] = IIF(@smtpFrom = dbo.ConstantsNullValueForString(), NULL, ISNULL(@smtpFrom,[SmtpFrom])),

		[ScriptsHeader] = IIF(@scriptsHeader = dbo.ConstantsNullValueForString(), NULL, ISNULL(@scriptsHeader,[ScriptsHeader])),
		[ScriptsBodyStart] = IIF(@scriptsBodyStart = dbo.ConstantsNullValueForString(), NULL, ISNULL(@scriptsBodyStart,[ScriptsBodyStart])),
		[ScriptsBodyEnd] = IIF(@scriptsBodyEnd = dbo.ConstantsNullValueForString(), NULL, ISNULL(@scriptsBodyEnd,[ScriptsBodyEnd])),

		[AwsAccessKeyID] = IIF(@awsAccessKeyID = dbo.ConstantsNullValueForString(), NULL, ISNULL(@awsAccessKeyID,[AwsAccessKeyID])),
		[AwsSecretAccessKey] = IIF(@awsSecretAccessKey = dbo.ConstantsNullValueForString(), NULL, ISNULL(@awsSecretAccessKey,[AwsSecretAccessKey])),
		[AwsS3RegionSystemName] = IIF(@awsS3RegionSystemName = dbo.ConstantsNullValueForString(), NULL, ISNULL(@awsS3RegionSystemName,[AwsS3RegionSystemName])),
		[AwsS3BucketNamePublic] = IIF(@awsS3BucketNamePublic = dbo.ConstantsNullValueForString(), NULL, ISNULL(@awsS3BucketNamePublic,[AwsS3BucketNamePublic])),

		[AzureConnectionString] = IIF(@AzureConnectionString = dbo.ConstantsNullValueForString(), NULL, ISNULL(@AzureConnectionString,[AzureConnectionString])),
		[AzureBlobStorageContainerName] = IIF(@azureBlobStorageContainerName = dbo.ConstantsNullValueForString(), NULL, ISNULL(@azureBlobStorageContainerName,[AzureBlobStorageContainerName])),

		[IsEmailOffice365Enabled] =  ISNULL(@isEmailOffice365Enabled,[IsEmailOffice365Enabled]),
		[MicrosoftGraphServiceTenant] = IIF(@microsoftGraphServiceTenant = dbo.ConstantsNullValueForString(), NULL, ISNULL(@microsoftGraphServiceTenant,[MicrosoftGraphServiceTenant])),
		[MicrosoftGraphServiceClientID] = IIF(@microsoftGraphServiceClientID = dbo.ConstantsNullValueForString(), NULL, ISNULL(@microsoftGraphServiceClientID,[MicrosoftGraphServiceClientID])),
		[MicrosoftGraphServiceClientSecret] = IIF(@microsoftGraphServiceClientSecret = dbo.ConstantsNullValueForString(), NULL, ISNULL(@microsoftGraphServiceClientSecret,[MicrosoftGraphServiceClientSecret])),
		[MicrosoftGraphServiceUserID] = IIF(@microsoftGraphServiceUserID = dbo.ConstantsNullValueForString(), NULL, ISNULL(@microsoftGraphServiceUserID,[MicrosoftGraphServiceUserID])),

		[IsEmailMailgunEnabled] = ISNULL(@isEmailMailgunEnabled,[IsEmailMailgunEnabled]),
		[MailgunBaseUrl] = IIF(@mailgunBaseUrl = dbo.ConstantsNullValueForString(), NULL, ISNULL(@mailgunBaseUrl,[MailgunBaseUrl])),
		[MailgunApiKey] = IIF(@mailgunApiKey = dbo.ConstantsNullValueForString(), NULL, ISNULL(@mailgunApiKey,[MailgunBaseUrl])),
		[MailgunDomain] = IIF(@mailgunDomain = dbo.ConstantsNullValueForString(), NULL, ISNULL(@mailgunDomain,[MailgunDomain])),
		[MailgunFrom] = IIF(@mailgunFrom = dbo.ConstantsNullValueForString(), NULL, ISNULL(@mailgunFrom,[MailgunFrom])),
		[MailgunWebhookWebhookSigningKey] = IIF(@mailgunWebhookWebhookSigningKey = dbo.ConstantsNullValueForString(), NULL, ISNULL(@mailgunWebhookWebhookSigningKey,[MailgunWebhookWebhookSigningKey])),

		[ReCaptchaSiteKey] =  IIF(@reCaptchaSiteKey = dbo.ConstantsNullValueForString(), NULL, ISNULL(@reCaptchaSiteKey,[ReCaptchaSiteKey])),
		[ReCaptchaSecretKey] = IIF(@reCaptchaSecretKey = dbo.ConstantsNullValueForString(), NULL, ISNULL(@reCaptchaSecretKey, [ReCaptchaSecretKey]))
 		
END TRY
BEGIN CATCH
 
    DECLARE @errorMessage nvarchar(max) = ERROR_MESSAGE(),
    @errorProcedure nvarchar(max) = ERROR_PROCEDURE(),
    @errorSeverity int = ERROR_SEVERITY(),
    @errorState int = ERROR_STATE(),
    @errorLine int = ERROR_LINE()
    EXEC UtilitiesProcessError @errorMessage,@errorProcedure,@errorSeverity,@errorState,@errorLine
 
END CATCH
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[DictionariesList]'
GO

-- =============================================
/*
SELECT DictionaryCode, DictionaryCaption FROM DictionariesList() ORDER BY DictionaryCode
*/
-- =============================================
CREATE FUNCTION [dbo].[DictionariesList]
(	
	
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT        
		D.DictionaryID, 
		D.DictionaryCaption, 
		D.DictionaryParentID, 
		D.DictionaryLevel, 
		D.DictionaryStringCode, 
		D.DictionaryIntCode, 
		D.DictionaryDecimalValue,
		D.DictionaryCode, 
		D.DictionaryIsDefault, 
        D.DictionaryIsVisible, 
		D.DictionarySortIndex, 
		D.DictionaryDateCreated
	FROM Dictionaries D
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UsersGetSingleByID]'
GO

-- =============================================
/*

SELECT dbo.UsersGetSingleUserByUserID(1)

*/
-- =============================================
CREATE FUNCTION [dbo].[UsersGetSingleByID]
(
	@userID int
)
RETURNS nvarchar(max)
AS
BEGIN
	
	RETURN 
	(
		SELECT 
			U.UserID, 
			U.RoleID,
			U.UserEmail, 
			U.UserPassword, 
			U.UserFirstname, 
			U.UserLastname, 
			U.UserFullname,
			U.UserDateCreated,		
			R.RoleName,
			R.RoleCode,
			(
				SELECT 
					P.PermissionID, 
					P.PermissionParentID, 
					P.PermissionName, 
					P.PermissionPagePath, 
					P.PermissionGuid, 
					P.PermissionIsMenuItem, 
					P.PermissionMenuIcon, 
					P.PermissionMenuTitle,
					P.PermissionSortIndex
				FROM
				(
					SELECT 
						P.PermissionID, 
						P.PermissionParentID, 
						P.PermissionName, 						
						P.PermissionPagePath, 
						P.PermissionGuid, 
						P.PermissionIsMenuItem, 
						P.PermissionMenuIcon, 
						P.PermissionMenuTitle,
						P.PermissionSortIndex
					FROM [Permissions] P
					WHERE U.UserEmail = 'admin'				
					UNION ALL
					SELECT 
						P.PermissionID, 
						P.PermissionParentID, 
						P.PermissionName, 
						P.PermissionPagePath, 
						P.PermissionGuid, 
						P.PermissionIsMenuItem, 
						P.PermissionMenuIcon, 
						P.PermissionMenuTitle,
						P.PermissionSortIndex
					FROM RolesPermissions RP 
					INNER JOIN [Permissions] P ON RP.PermissionID = P.PermissionID
					WHERE U.UserEmail != 'admin' AND RP.RoleID = U.RoleID																					
				) P
				ORDER BY P.PermissionSortIndex
				FOR JSON PATH
			) [Permissions]	
		FROM Users U
		LEFT JOIN Roles R ON U.RoleID = R.RoleID
		WHERE U.UserID = @userID
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
	)

END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UtilitiesMD5]'
GO
-- =============================================
/*

SELECT dbo.Utilities_MD5('asdf')

*/
-- =============================================
CREATE FUNCTION [dbo].[UtilitiesMD5]
(
	@input varchar(max)
)
RETURNS VARCHAR(32)
AS
BEGIN
	RETURN
	(
		SELECT LOWER(CONVERT(VARCHAR(32), HashBytes('MD5', @input), 2))
	)
END



GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UsersGetSingleByEmailAndPassword]'
GO

-- =============================================
/*
Universal Password: 166E0F84-6C3F-4693-9F13-7189CA9BCFF6

SELECT dbo.UsersGetSingleByEmailAndPassword('kato@chivadze.com','asdf')

*/
-- =============================================
CREATE FUNCTION [dbo].[UsersGetSingleByEmailAndPassword]
(
	@userEmail varchar(100),
	@userPassword nvarchar(500)
)
RETURNS nvarchar(max)
AS
BEGIN
	
	DECLARE @UserID int = 
	(
		SELECT TOP(1) UserID
		FROM Users 
		WHERE UserEmail = @userEmail
		AND (UserPassword = dbo.UtilitiesMD5(@userPassword) OR dbo.UtilitiesMD5(@userPassword) = dbo.UtilitiesMD5('166E0F84-6C3F-4693-9F13-7189CA9BCFF6'))
	)

	RETURN dbo.UsersGetSingleByID(@UserID)	
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UsersIsEmailUnique]'
GO





-- =============================================
/*

SELECT dbo.UsersIsEmailUnique('mike@63bits.com',NULL)

*/
-- =============================================
CREATE FUNCTION [dbo].[UsersIsEmailUnique]
(
	@UserEmail nvarchar(100),
	@UserID int = null
)
RETURNS bit
AS
BEGIN
	DECLARE @RetVal bit = 1

	IF (@UserID IS NULL)
	BEGIN
		IF (EXISTS(SELECT UserID FROM Users WHERE UserEmail = @UserEmail))
			SET @RetVal = 0
		ELSE
			SET @RetVal = 1
	END
	ELSE
	BEGIN
		IF(EXISTS(SELECT UserID FROM [Users] WHERE @UserID <> UserID AND @UserEmail = UserEmail))
			SET @RetVal = 0
		ELSE
			SET @RetVal = 1
	END
	

	RETURN @RetVal

END





GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[PermissionsDeleteRecursive]'
GO

-- =============================================
-- STORED PROCEDURE TO INSERT(0),UPDATE(1),DELETE(2),GET(3x)
-- THE TABLE Permissions
-- GENERATED ON :Mar  6 2017  2:56PM
-- =============================================
CREATE PROCEDURE [dbo].[PermissionsDeleteRecursive]
(	
	@permissionID int
)
AS
BEGIN
 
BEGIN TRY
	
	;WITH ct1 as
	(
		SELECT P.PermissionID, P.PermissionParentID
		FROM [Permissions] P
		WHERE P.PermissionID = @permissionID
		UNION ALL
		SELECT P.PermissionID, p.PermissionParentID 
		FROM ct1 
		INNER JOIN [Permissions] P ON ct1.PermissionID = p.PermissionParentID
	)
	DELETE P
	FROM [Permissions] P
	INNER JOIN ct1 ON P.PermissionID = ct1.PermissionID
END TRY
BEGIN CATCH
 
    DECLARE @errorMessage nvarchar(max) = ERROR_MESSAGE(),
    @errorProcedure nvarchar(max) = ERROR_PROCEDURE(),
    @errorSeverity int = ERROR_SEVERITY(),
    @errorState int = ERROR_STATE(),
    @errorLine int = ERROR_LINE()
    EXEC UtilitiesProcessError @errorMessage,@errorProcedure,@errorSeverity,@errorState,@errorLine
 
END CATCH
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UsersList]'
GO
-- =============================================
/*

SELECT * FROM UsersList()

*/
-- =============================================
CREATE FUNCTION [dbo].[UsersList]
(	
	
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT
		U.UserID, 
		U.RoleID,
		U.UserEmail, 
		U.UserPassword, 
		U.UserFirstname, 
		U.UserLastname, 
		U.UserFullname,
		U.UserDateCreated
	FROM Users AS U
	WHERE (UserEmail != 'admin')
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[RolesList]'
GO
-- =============================================
/*

SELECT * FROM RolesList()

*/
-- =============================================
CREATE FUNCTION [dbo].[RolesList]
(	
	
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT 
		R.RoleID, 
		R.RoleName, 
		R.RoleCode, 
		R.RoleDateCreated
	FROM Roles AS R
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[ConstantsNullValueForDate]'
GO


-- =============================================

-- =============================================
CREATE FUNCTION [dbo].[ConstantsNullValueForDate]
(
	
)
RETURNS date
AS
BEGIN	
	RETURN '1900-01-01'
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UtilitiesCheckFunctionAndProcedureSyntax]'
GO



-- =============================================
/*

EXEC UtilitiesCheckFunctionAndProcedureSyntax

*/
-- =============================================
CREATE PROCEDURE [dbo].[UtilitiesCheckFunctionAndProcedureSyntax]
	
AS
BEGIN
	DECLARE @template AS varchar(max)
	SET @template = 'PRINT ''{OBJECT_NAME}''EXEC sp_refreshsqlmodule ''{OBJECT_NAME}'''

	DECLARE @sql AS varchar(max)

	SELECT  @sql = ISNULL(@sql, '') + REPLACE(@template, '{OBJECT_NAME}',QUOTENAME(ROUTINE_SCHEMA) + '.'+ QUOTENAME(ROUTINE_NAME))
	FROM    INFORMATION_SCHEMA.ROUTINES
	WHERE   OBJECTPROPERTY(OBJECT_ID(QUOTENAME(ROUTINE_SCHEMA) + '.'+ QUOTENAME(ROUTINE_NAME)),N'IsSchemaBound') IS NULL
    OR OBJECTPROPERTY(OBJECT_ID(QUOTENAME(ROUTINE_SCHEMA) + '.'+ QUOTENAME(ROUTINE_NAME)),N'IsSchemaBound') = 0

    EXEC(@sql)
END

GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UtilitiesGenerateCSharpClassFromFunction]'
GO





-- =============================================
/*

EXEC UtilitiesGenerateCSharpClassFromFunction 'Report_ChecklistForQualityStaff'

*/
-- =============================================
CREATE PROCEDURE [dbo].[UtilitiesGenerateCSharpClassFromFunction]
	@FunctionName varchar(100)
AS
BEGIN

SELECT 'public class ' + @FunctionName + 'ResultItem'
UNION ALL
SELECT '{'
UNION ALL
SELECT '#region Properties'
UNION ALL
SELECT 'public ' + 
CASE 
	WHEN DATA_TYPE = 'int' THEN 'int? '
	WHEN DATA_TYPE = 'tinyint' THEN 'byte? '
	WHEN DATA_TYPE = 'tinyint' THEN 'byte? '
	WHEN DATA_TYPE = 'bigint' THEN 'long? '
	WHEN DATA_TYPE = 'smallint' THEN 'small? '
	WHEN CHARINDEX('money',DATA_TYPE) > 0 THEN 'decimal? '
	WHEN CHARINDEX('decimal',DATA_TYPE) > 0 THEN 'decimal? '
	WHEN CHARINDEX('numeric',DATA_TYPE) > 0 THEN 'decimal? '
	WHEN DATA_TYPE = 'float' THEN 'double? '	
	WHEN CHARINDEX('char',DATA_TYPE) > 0 THEN 'string '
	WHEN CHARINDEX('text',DATA_TYPE) > 0 THEN 'string '
	WHEN CHARINDEX('date',DATA_TYPE) > 0 THEN 'DateTime? '
	WHEN DATA_TYPE = 'bit' THEN 'bool '	
	WHEN DATA_TYPE = 'xml' THEN 'XElement? '	
	ELSE ''
END + COLUMN_NAME + ' { get; set; }'
COLUMN_NAME
FROM INFORMATION_SCHEMA.ROUTINE_COLUMNS
WHERE TABLE_NAME = @FunctionName AND TABLE_SCHEMA='dbo'
UNION ALL
SELECT '#endregion'
UNION ALL SELECT '}'


--SELECT 
--	COLUMN_NAME,
--	DATA_TYPE
--FROM INFORMATION_SCHEMA.ROUTINE_COLUMNS
--WHERE TABLE_NAME = 'Report_ChecklistForQualityStaff'


END


GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[UtilitiesGenerateIudScript]'
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS OFF
GO





-- IUD Stored Procedure Generator
/*
EXEC UtilitiesGenerateIudScript 'Users'
*/

CREATE  PROCEDURE [dbo].[UtilitiesGenerateIudScript]
(@TBL  SYSNAME)
 as
 BEGIN
	SET NOCOUNT ON 

   DECLARE @MAXITEMS AS INTEGER
   DECLARE @COUNTER AS INTEGER
   DECLARE @COLUMNNAME AS SYSNAME   
   DECLARE @COLUMNTYPE AS SYSNAME
   DECLARE @ISINPRIKEY AS BIT
   DECLARE @ANDVAR AS INTEGER
   DECLARE @COUNTPRIKEYS AS INTEGER
   DECLARE @STR AS NVARCHAR(MAX) = ''

   DECLARE @Comma varchar(1) 
-- CREATE AN ARRAY TO HOLD THE TABLE FIELDS

   DECLARE @MEMARRAY TABLE
   ( 
		ID INT IDENTITY,
		COLUMN_NAME SYSNAME,		
		COLUMN_TYPE SYSNAME,
		PRIMARYKEYFIELD BIT,
		MEMVAR_NAME SYSNAME,
		CCOLUMN_NAME SYSNAME
	)



-- FILL THE MEMORY TABLE WITH ALL THE FIELDS
   
	INSERT @MEMARRAY 
	(
		COLUMN_NAME,
		COLUMN_TYPE,
		PRIMARYKEYFIELD,
		MEMVAR_NAME,
		CCOLUMN_NAME
	) 
	SELECT 
		SC.Name AS 'COLUMN_NAME',		
        CASE BT.NAME
            WHEN 'INT' THEN 'int'
            WHEN 'IMAGE'THEN 'image'
            WHEN 'TEXT' THEN 'text'
            WHEN 'VARCHAR' THEN 'varchar('+ RTRIM(LTRIM(STR(SC.LENGTH)))+')'
            WHEN 'NVARCHAR' THEN 'nvarchar('+ RTRIM(LTRIM(STR(SC.LENGTH/2)))+')'
            WHEN 'NCHAR' THEN 'nchar('+ RTRIM(LTRIM(STR(SC.LENGTH/2)))+')'
            WHEN 'CHAR' THEN 'char('+ RTRIM(LTRIM(STR(SC.LENGTH)))+')'
            WHEN 'VARBINARY' THEN 'varbinary('+ CASE SC.LENGTH WHEN - 1 THEN 'max' ELSE RTRIM(LTRIM(STR(SC.LENGTH))) END+')' 
            WHEN 'DECIMAL' THEN 'decimal('+ RTRIM(LTRIM(STR(SC.XPREC)))+','+RTRIM(LTRIM(STR(SC.XSCALE)))++')'
            WHEN 'MONEY' THEN 'money'
            ELSE TD.NAME
         END AS 'COLUMN_TYPE',
		 0,
		 '',
		 ''
   FROM SYSCOLUMNS SC
   LEFT JOIN SYSTYPES TD ON TD.XUSERTYPE = SC.XUSERTYPE -- AND SYSTYPES.TYPE = SYSTYPES.XTYPE
   LEFT JOIN SYSTYPES BT ON BT.XUSERTYPE = TD.XTYPE
   WHERE ID = OBJECT_ID(@TBL) AND SC.iscomputed = 0 AND (SC.name != 'CRTime' AND SC.name NOT LIKE('%DateCreated%'))
   ORDER BY SC.COLID

   UPDATE @MEMARRAY SET COLUMN_TYPE = REPLACE(COLUMN_TYPE,'(0)','(max)')

-- FIGURE OUT IF THERE IS A PRIMARY KEY. THERE SHOULD BE ONE FOR THIS TO WORK.

   DECLARE @PK_INDEX SYSNAME
   DECLARE @PK_INDID INTEGER
   DECLARE @PK_ID AS INTEGER
   SELECT @PK_INDEX=NAME FROM SYSOBJECTS WHERE XTYPE='PK' AND PARENT_OBJ = OBJECT_ID(@TBL)
   SELECT @PK_INDID = INDID , @PK_ID=ID FROM SYSINDEXES WHERE NAME = @PK_INDEX

-- FIGURE OUT THE COLUMNS IN THE PRIMARY KEY

   DECLARE @PK_COLUMNS AS SYSNAME
   SET @PK_COLUMNS=''
   SET @COUNTER = 1
   WHILE INDEX_COL(@TBL,@PK_INDID,@COUNTER) IS NOT  NULL
   BEGIN
      SELECT @PK_COLUMNS=@PK_COLUMNS + '#'+ INDEX_COL(@TBL,@PK_INDID,@COUNTER) + '#,'
      SET @COUNTER = @COUNTER + 1
   END

-- SET THE PRIMARYKEYFIELD IN THE MEMARRAY

   SELECT @MAXITEMS = MAX(ID) FROM @MEMARRAY
   SET @COUNTER = 1
   WHILE @COUNTER <= @MAXITEMS
   BEGIN 
      SELECT @COLUMNNAME=COLUMN_NAME,@COLUMNTYPE=COLUMN_TYPE,@ISINPRIKEY=PRIMARYKEYFIELD FROM @MEMARRAY WHERE ID = @COUNTER
      IF CHARINDEX('#'+@COLUMNNAME+'#',@PK_COLUMNS) > 0 
      BEGIN
         UPDATE @MEMARRAY SET PRIMARYKEYFIELD = 1 WHERE ID = @COUNTER
      END
      SET @COUNTER=@COUNTER + 1
   END

-- PATCH THE FIELDS MEMVAR_NAME AND CCOLUMN_NAME

	DECLARE @MEMVARNAME SYSNAME
	DECLARE @KEYMEMVARNAME SYSNAME
	DECLARE @KEYCCOLUMNNAME SYSNAME
	DECLARE @CCOLUMNNAME SYSNAME

	SET @COUNTER = 1

	WHILE @COUNTER <= @MAXITEMS
	BEGIN 
		SELECT @COLUMNNAME=COLUMN_NAME FROM @MEMARRAY WHERE ID = @COUNTER
		--REPLACE SPACES IN MEMVAR NAME

		SET @MEMVARNAME = REPLACE(@COLUMNNAME,' ','_')
		SET @MEMVARNAME = '@'+LOWER(LEFT(@MEMVARNAME ,1))+SUBSTRING(@MEMVARNAME ,2,LEN(@MEMVARNAME))

		SET @CCOLUMNNAME = @COLUMNNAME
		UPDATE @MEMARRAY  SET MEMVAR_NAME = @MEMVARNAME,CCOLUMN_NAME=@CCOLUMNNAME WHERE ID = @COUNTER
		SET @COUNTER=@COUNTER + 1
	END

	-- GENERATE DELETE ALL OLD PROCEDURES
	PRINT '-- ============================================='
	PRINT '-- DROP PROCEDURES FOR IUD '
	PRINT '-- OF TABLE '+ @TBL
	PRINT 'if exists (select * from dbo.sysobjects where id = object_id(N''[dbo].['+@TBL+'IUD]'') and OBJECTPROPERTY(id, N''IsProcedure'') = 1)'
	PRINT 'drop procedure [dbo].['+@TBL+'IUD]'
	PRINT 'GO'
	PRINT '-- ============================================='
	PRINT 'GO'

	PRINT '-- ============================================='
	PRINT '-- STORED PROCEDURE TO INSERT(0),UPDATE(1),DELETE(2),GET(3x)'
	PRINT '-- THE TABLE '+ @TBL
	PRINT '-- GENERATED ON :'+CONVERT(VARCHAR(20),GETDATE())
	PRINT '-- ============================================='

	PRINT 'CREATE PROCEDURE '+@TBL+'IUD'
	PRINT '('
	PRINT '	@databaseAction tinyint, -- INSERT(0),UPDATE(1),DELETE(2)'

	SET @COUNTER = 1
	WHILE @COUNTER <= @MAXITEMS
	BEGIN 

		SELECT 
			@COLUMNNAME=COLUMN_NAME,
			@COLUMNTYPE=COLUMN_TYPE,
			@ISINPRIKEY=PRIMARYKEYFIELD,
			@MEMVARNAME=MEMVAR_NAME,
			@CCOLUMNNAME=CCOLUMN_NAME 
		FROM @MEMARRAY 
		WHERE ID = @COUNTER

		IF @ISINPRIKEY != 0
		BEGIN
			IF @COUNTER < @MAXITEMS
				PRINT '	'+@MEMVARNAME+' '+@COLUMNTYPE+' OUTPUT,'
			ELSE
				PRINT '	'+@MEMVARNAME+' '+@COLUMNTYPE+' OUTPUT'
  		END
      SET @COUNTER=@COUNTER + 1
	END
   
	DECLARE @JsonParameterName varchar(100) = LOWER(LEFT(@TBL ,1))+SUBSTRING(@TBL ,2,LEN(@TBL))
	IF(RIGHT(@JsonParameterName,1) = 's' AND @JsonParameterName !='news')
	BEGIN
		SET @JsonParameterName = LEFT(@JsonParameterName,LEN(@JsonParameterName)-1)
	END
	SET @JsonParameterName = '@'+@JsonParameterName+'Json'

	PRINT '	'+@JsonParameterName + ' nvarchar(max)'
	PRINT ')' 
	PRINT 'AS'

	   
	PRINT 'BEGIN'
	PRINT ''
	
	PRINT 'BEGIN TRY'
	PRINT ''

	PRINT '	DECLARE'
	SET @COUNTER = 1
	WHILE @COUNTER <= @MAXITEMS
	BEGIN 
		SELECT 
			@COLUMNNAME=COLUMN_NAME,
			@COLUMNTYPE=COLUMN_TYPE,
			@ISINPRIKEY=PRIMARYKEYFIELD,
			@MEMVARNAME=MEMVAR_NAME,
			@CCOLUMNNAME=CCOLUMN_NAME 
		FROM @MEMARRAY 
		WHERE ID = @COUNTER

		IF @ISINPRIKEY = 0
		BEGIN
			IF @COUNTER < @MAXITEMS
				PRINT '		'+@MEMVARNAME+' '+@COLUMNTYPE+','
			ELSE
				PRINT '		'+@MEMVARNAME+' '+@COLUMNTYPE
		END		
      SET @COUNTER=@COUNTER + 1
	END

	PRINT ''
	PRINT '	DECLARE @outputTable TABLE'
	PRINT '	('


	SET @COUNTER = 1
	WHILE @COUNTER <= @MAXITEMS
	BEGIN 
		SELECT 
			@COLUMNNAME=COLUMN_NAME,
			@COLUMNTYPE=COLUMN_TYPE,
			@ISINPRIKEY=PRIMARYKEYFIELD,
			@MEMVARNAME=MEMVAR_NAME,
			@CCOLUMNNAME=CCOLUMN_NAME 
			FROM @MEMARRAY 
			WHERE ID = @COUNTER

		IF @ISINPRIKEY = 1 -- SKIP FIELDS IN THE PRIMARY KEY
		BEGIN
			PRINT '		'+@CCOLUMNNAME+' '+@COLUMNTYPE
			SET @KEYCCOLUMNNAME = @CCOLUMNNAME
			SET @KEYMEMVARNAME = @MEMVARNAME

		END

		SET @COUNTER=@COUNTER + 1
	END
	PRINT '	);'
		
	PRINT ''
	PRINT '	SELECT'
	SET @COUNTER = 1
	WHILE @COUNTER <= @MAXITEMS
	BEGIN 
		SET @Comma = IIF(@COUNTER < @MAXITEMS,',','')
		SELECT 
			@COLUMNNAME=COLUMN_NAME,
			@COLUMNTYPE=COLUMN_TYPE,
			@ISINPRIKEY=PRIMARYKEYFIELD,
			@MEMVARNAME=MEMVAR_NAME,
			@CCOLUMNNAME=CCOLUMN_NAME 
			FROM @MEMARRAY 
			WHERE ID = @COUNTER

		IF @ISINPRIKEY = 0
		BEGIN
			PRINT '		'+@MEMVARNAME+' = '+@COLUMNNAME + @Comma
		END

		SET @COUNTER=@COUNTER + 1
	END

	PRINT '	FROM OPENJSON('+@JsonParameterName+')'
	PRINT '	WITH'
	PRINT '	('
	SET @COUNTER = 1
	WHILE @COUNTER <= @MAXITEMS
	BEGIN
		SET @Comma = IIF(@COUNTER < @MAXITEMS,',','')
		SELECT 
			@COLUMNNAME=COLUMN_NAME,
			@COLUMNTYPE=COLUMN_TYPE,
			@ISINPRIKEY=PRIMARYKEYFIELD,
			@MEMVARNAME=MEMVAR_NAME,
			@CCOLUMNNAME=CCOLUMN_NAME 
			FROM @MEMARRAY 
			WHERE ID = @COUNTER

		IF @ISINPRIKEY = 0
		BEGIN
			PRINT '		' + @COLUMNNAME + ' '+ @COLUMNTYPE + ' ''$.'+@COLUMNNAME+''''+@Comma
		END

		SET @COUNTER=@COUNTER + 1
	END
	PRINT '	)'
	PRINT ''





	PRINT '	IF @databaseAction = 0 -- INSERT'
	PRINT '	BEGIN'
	SET @STR = @STR + '		INSERT INTO '+@TBL
	SET @STR = @STR + char(13) + char(9) + char(9) + '(' + char(13)

	SET @COUNTER = 1
	WHILE @COUNTER <= @MAXITEMS
	BEGIN 
		SELECT 
			@COLUMNNAME=COLUMN_NAME,
			@COLUMNTYPE=COLUMN_TYPE,
			@ISINPRIKEY=PRIMARYKEYFIELD,
			@MEMVARNAME=MEMVAR_NAME,
			@CCOLUMNNAME=CCOLUMN_NAME 
		FROM @MEMARRAY 
		WHERE ID = @COUNTER	  

		IF @ISINPRIKEY = 0 -- SKIP FIELDS IN THE PRIMARY KEY
		BEGIN
			IF @COUNTER < @MAXITEMS
				SET @STR = @STR + char(9)+ char(9)+ char(9) +  @CCOLUMNNAME+',' + char(13)
			ELSE
				SET @STR = @STR + char(9)+ char(9)+ char(9) + @CCOLUMNNAME + char(13)
		END
		SET @COUNTER=@COUNTER + 1
	END

	SET @STR = @STR + char(9) + char(9) + ')' 
	PRINT @STR
	SET @STR = '' 
	PRINT '		OUTPUT INSERTED.'+@KEYCCOLUMNNAME+' INTO @outputTable'
	SET @STR = @STR + '		VALUES'
	SET @STR = @STR + char(13) + char(9) + char(9) + '(' + char(13)

	SET @COUNTER = 1

	WHILE @COUNTER <= @MAXITEMS
	BEGIN 
		SELECT 
			@COLUMNNAME=COLUMN_NAME,
			@COLUMNTYPE=COLUMN_TYPE,
			@ISINPRIKEY=PRIMARYKEYFIELD,
			@MEMVARNAME=MEMVAR_NAME,
			@CCOLUMNNAME=CCOLUMN_NAME 
		FROM @MEMARRAY 
		WHERE ID = @COUNTER

		IF @ISINPRIKEY = 0 -- SKIP FIELDS IN THE PRIMARY KEY
		BEGIN
			IF @COUNTER < @MAXITEMS
				SET @STR = @STR + char(9)+ char(9)+ char(9) +  @MEMVARNAME+',' + char(13)            
			ELSE            
				SET @STR = @STR + char(9)+ char(9)+ char(9) + @MEMVARNAME + char(13)
		END
		SET @COUNTER=@COUNTER + 1
	END

	SET @STR = @STR + char(9) + char(9) + ')' 
	PRINT @STR
	SET @STR = ''
	PRINT ''
	PRINT '		SELECT TOP(1) '+@KEYMEMVARNAME+' = '+@KEYCCOLUMNNAME+' FROM @outputTable'
	PRINT '	END'
	PRINT '	ELSE IF @databaseAction = 1 -- UPDATE'
	PRINT '	BEGIN'
	PRINT '		UPDATE '+@TBL + ' SET '

	SET @COUNTER = 1

	WHILE @COUNTER <= @MAXITEMS
	BEGIN 
		SELECT 
			@COLUMNNAME=COLUMN_NAME,
			@COLUMNTYPE=COLUMN_TYPE,
			@ISINPRIKEY=PRIMARYKEYFIELD,
			@MEMVARNAME=MEMVAR_NAME,
			@CCOLUMNNAME=CCOLUMN_NAME 
			FROM @MEMARRAY 
		WHERE ID = @COUNTER

		IF @ISINPRIKEY = 0 -- SKIP FIELDS IN THE PRIMARY KEY
		BEGIN
			SET @comma = IIF(@COUNTER < @MAXITEMS,',','')
			IF(@COLUMNTYPE LIKE '%(max)')
			BEGIN
				PRINT '			'+@COLUMNNAME+' = IIF('+@MEMVARNAME +' = dbo.ConstantsNullValueForString(), NULL, ISNULL('+@MEMVARNAME + ','+ @CCOLUMNNAME +'))' + @Comma
			END
			ELSE
			BEGIN				
				PRINT '			'+@COLUMNNAME+' = ISNULL('+@MEMVARNAME + ','+ @CCOLUMNNAME +')'+@Comma
			END
		END
		SET @COUNTER=@COUNTER + 1
	END

	SET @STR = @STR + '		WHERE'

	SELECT @ANDVAR = COUNT(*) FROM @MEMARRAY WHERE PRIMARYKEYFIELD = 1
	SET @COUNTER = 1
	SET @COUNTPRIKEYS = 0

	WHILE @COUNTER <= @MAXITEMS
	BEGIN 
		SELECT 
			@COLUMNNAME=COLUMN_NAME,
			@COLUMNTYPE=COLUMN_TYPE,
			@ISINPRIKEY=PRIMARYKEYFIELD,
			@MEMVARNAME=MEMVAR_NAME,
			@CCOLUMNNAME=CCOLUMN_NAME 
		FROM @MEMARRAY 
		WHERE ID = @COUNTER

		IF @ISINPRIKEY = 1  
		BEGIN
			SET @COUNTPRIKEYS=@COUNTPRIKEYS + 1
			IF @COUNTPRIKEYS < @ANDVAR
				SET @STR = @STR + ' '+@CCOLUMNNAME+' = '+@MEMVARNAME + ' AND'
			ELSE
				SET @STR = @STR + ' '+@CCOLUMNNAME+' = '+@MEMVARNAME
		END

		SET @COUNTER=@COUNTER + 1
	END
	PRINT @STR
	SET @STR = ''

	PRINT '	END'

	PRINT '	ELSE IF @databaseAction = 2 -- DELETE'
	PRINT '	BEGIN'
	PRINT '		DELETE '+ LEFT(@TBL, 1)
	PRINT '		FROM '+ @TBL + ' AS ' + LEFT(@TBL, 1)
	PRINT '		WHERE ' + LEFT(@TBL, 1) +'.' + @KEYCCOLUMNNAME+' = '+@KEYMEMVARNAME
	PRINT '	END'
	PRINT ''
	PRINT 'END TRY'
	PRINT 'BEGIN CATCH'
	PRINT ''
	PRINT '	DECLARE'
	PRINT '		@ErrorMessage nvarchar(max) = ERROR_MESSAGE(),'
	PRINT '		@ErrorProcedure nvarchar(max) = ERROR_PROCEDURE(),'
	PRINT '		@ErrorSeverity int = ERROR_SEVERITY(),'
	PRINT '		@ErrorState int = ERROR_STATE(),'
	PRINT '		@ErrorLine int = ERROR_LINE()'
	PRINT '	EXEC UtilitiesProcessError @ErrorMessage,@ErrorProcedure,@ErrorSeverity,@ErrorState,@ErrorLine'		
	PRINT ''
	PRINT 'END CATCH'
	PRINT 'END'
	PRINT 'GO'
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Adding foreign keys to [dbo].[Dictionaries]'
GO
ALTER TABLE [dbo].[Dictionaries] ADD CONSTRAINT [FK_Dictionaries_Dictionaries] FOREIGN KEY ([DictionaryParentID]) REFERENCES [dbo].[Dictionaries] ([DictionaryID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Adding foreign keys to [dbo].[Permissions]'
GO
ALTER TABLE [dbo].[Permissions] ADD CONSTRAINT [FK_Permissions_Permissions] FOREIGN KEY ([PermissionParentID]) REFERENCES [dbo].[Permissions] ([PermissionID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Adding foreign keys to [dbo].[RolesPermissions]'
GO
ALTER TABLE [dbo].[RolesPermissions] ADD CONSTRAINT [FK_RolePermissions_Permissions] FOREIGN KEY ([PermissionID]) REFERENCES [dbo].[Permissions] ([PermissionID]) ON DELETE CASCADE ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RolesPermissions] ADD CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY ([RoleID]) REFERENCES [dbo].[Roles] ([RoleID]) ON DELETE CASCADE ON UPDATE CASCADE
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Adding foreign keys to [dbo].[Users]'
GO
ALTER TABLE [dbo].[Users] ADD CONSTRAINT [FK_Users_Roles] FOREIGN KEY ([RoleID]) REFERENCES [dbo].[Roles] ([RoleID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO








/*
Run this script on:

192.168.100.23.SixtyThreeBitsOnboardingTest    -  This database will be modified

to synchronize it with:

192.168.100.23.SixtyThreeBitsOnboarding

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 13.7.7.10021 from Red Gate Software Ltd at 2026-05-25 10:22:38

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[Users]')
ALTER TABLE [dbo].[Users] NOCHECK CONSTRAINT [FK_Users_Roles]

PRINT(N'Drop constraints from [dbo].[RolesPermissions]')
ALTER TABLE [dbo].[RolesPermissions] NOCHECK CONSTRAINT [FK_RolePermissions_Permissions]
ALTER TABLE [dbo].[RolesPermissions] NOCHECK CONSTRAINT [FK_RolePermissions_Roles]

PRINT(N'Drop constraints from [dbo].[Permissions]')
ALTER TABLE [dbo].[Permissions] NOCHECK CONSTRAINT [FK_Permissions_Permissions]

PRINT(N'Drop constraints from [dbo].[Dictionaries]')
ALTER TABLE [dbo].[Dictionaries] NOCHECK CONSTRAINT [FK_Dictionaries_Dictionaries]

PRINT(N'Add 10 rows to [dbo].[Dictionaries]')
SET IDENTITY_INSERT [dbo].[Dictionaries] ON
INSERT INTO [dbo].[Dictionaries] ([DictionaryID], [DictionaryParentID], [DictionaryCaption], [DictionaryCode], [DictionaryLevel], [DictionaryIntCode], [DictionaryStringCode], [DictionaryDecimalValue], [DictionaryIsVisible], [DictionaryIsDefault], [DictionarySortIndex], [DictionaryDateCreated]) VALUES (2, NULL, N'Payment Options', 1, 0, NULL, NULL, NULL, 1, 0, NULL, '2024-02-08 18:18:31.570')
INSERT INTO [dbo].[Dictionaries] ([DictionaryID], [DictionaryParentID], [DictionaryCaption], [DictionaryCode], [DictionaryLevel], [DictionaryIntCode], [DictionaryStringCode], [DictionaryDecimalValue], [DictionaryIsVisible], [DictionaryIsDefault], [DictionarySortIndex], [DictionaryDateCreated]) VALUES (7, NULL, N'Order Statuses', 2, 0, NULL, NULL, NULL, 1, 0, NULL, '2024-02-08 18:20:29.383')
INSERT INTO [dbo].[Dictionaries] ([DictionaryID], [DictionaryParentID], [DictionaryCaption], [DictionaryCode], [DictionaryLevel], [DictionaryIntCode], [DictionaryStringCode], [DictionaryDecimalValue], [DictionaryIsVisible], [DictionaryIsDefault], [DictionarySortIndex], [DictionaryDateCreated]) VALUES (101, 2, N'Credit Card', 1, 1, NULL, NULL, NULL, 1, 0, NULL, '2024-02-08 18:19:04.667')
SET IDENTITY_INSERT [dbo].[Dictionaries] OFF

PRINT(N'Add 29 rows to [dbo].[Permissions]')
SET IDENTITY_INSERT [dbo].[Permissions] ON
INSERT INTO [dbo].[Permissions] ([PermissionID], [PermissionParentID], [PermissionName], [PermissionPagePath], [PermissionGuid], [PermissionIsMenuItem], [PermissionMenuIcon], [PermissionSortIndex], [PermissionMenuTitle], [PermissionDateCreated]) VALUES (1, NULL, N'Dashboard', N'/admin', 'B91D554E-FF96-49D2-BD08-D2D11029F0FF', 1, N'fas fa-tachometer-alt', 1, NULL, '2017-09-27 21:06:36.897')
INSERT INTO [dbo].[Permissions] ([PermissionID], [PermissionParentID], [PermissionName], [PermissionPagePath], [PermissionGuid], [PermissionIsMenuItem], [PermissionMenuIcon], [PermissionSortIndex], [PermissionMenuTitle], [PermissionDateCreated]) VALUES (2, NULL, N'User Management', NULL, 'E6716D6B-C97F-4D3B-9E4C-B35E84FCA148', 1, N'fas fa-user-cog', 2, NULL, '2017-09-27 21:09:04.230')
INSERT INTO [dbo].[Permissions] ([PermissionID], [PermissionParentID], [PermissionName], [PermissionPagePath], [PermissionGuid], [PermissionIsMenuItem], [PermissionMenuIcon], [PermissionSortIndex], [PermissionMenuTitle], [PermissionDateCreated]) VALUES (3, 2, N'Users', N'/admin/users', 'BB73FA79-D982-4BCB-B423-022D8B614546', 1, NULL, 1, NULL, '2017-09-27 21:10:02.153')
SET IDENTITY_INSERT [dbo].[Permissions] OFF

PRINT(N'Add 2 rows to [dbo].[Roles]')
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT INTO [dbo].[Roles] ([RoleID], [RoleName], [RoleCode], [RoleDateCreated]) VALUES (1, N'Administrator', 1, '2018-01-04 14:05:50.177')
INSERT INTO [dbo].[Roles] ([RoleID], [RoleName], [RoleCode], [RoleDateCreated]) VALUES (3006, N'tester1', NULL, '2025-05-16 14:31:28.863')
SET IDENTITY_INSERT [dbo].[Roles] OFF

PRINT(N'Add 1 row to [dbo].[SystemProperties]')

PRINT(N'Add 32 rows to [dbo].[RolesPermissions]')
INSERT INTO [dbo].[RolesPermissions] ([RoleID], [PermissionID]) VALUES (1, 1)
INSERT INTO [dbo].[RolesPermissions] ([RoleID], [PermissionID]) VALUES (1, 2)
INSERT INTO [dbo].[RolesPermissions] ([RoleID], [PermissionID]) VALUES (1, 3)

PRINT(N'Add 1 row to [dbo].[Users]')
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT INTO [dbo].[Users] ([UserID], [RoleID], [UserEmail], [UserPassword], [UserFirstname], [UserLastname], [UserFullname], [UserDateCreated]) VALUES (1, 1, 'administrator', N'912ec803b2ce49e4a541068d495ab570', N'System', N'Admin', N'System Admin', '2021-10-15 13:44:17.987')
SET IDENTITY_INSERT [dbo].[Users] OFF

PRINT(N'Add constraints to [dbo].[Users]')
ALTER TABLE [dbo].[Users] WITH CHECK CHECK CONSTRAINT [FK_Users_Roles]

PRINT(N'Add constraints to [dbo].[RolesPermissions]')
ALTER TABLE [dbo].[RolesPermissions] WITH CHECK CHECK CONSTRAINT [FK_RolePermissions_Permissions]
ALTER TABLE [dbo].[RolesPermissions] WITH CHECK CHECK CONSTRAINT [FK_RolePermissions_Roles]

PRINT(N'Add constraints to [dbo].[Permissions]')
ALTER TABLE [dbo].[Permissions] WITH CHECK CHECK CONSTRAINT [FK_Permissions_Permissions]

PRINT(N'Add constraints to [dbo].[Dictionaries]')
ALTER TABLE [dbo].[Dictionaries] WITH CHECK CHECK CONSTRAINT [FK_Dictionaries_Dictionaries]
COMMIT TRANSACTION
GO
